SECRET_KEY="secret"

SQLALCHEMY_DATABASE_URI="sqlite:///reporter.sqlite3"
SQLALCHEMY_ECHO=False
SQLALCHEMY_TRACK_MODIFICATIONS=False

MAIL_SERVER="smtp.mailtrap.io"
MAIL_PORT="2525"
MAIL_USERNAME="123"
MAIL_PASSWORD="456"
