{% extends "base.html" %}

{% block title %}CUCEI Reporter{% endblock %}
{% block description %}Sistema de reporte para profesores{% endblock %}

{% block content %}
<section class="hero is-light is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Sistema de Reportes de Estado Académico
            </h1>
            <h2 class="subtitle is-3">
                CUCEI
            </h2>

            <form class="" action="{{url_for('login')}}" method="post">
                <div class="field has-addons has-addons-centered">
                    <p class="control has-icons-left">
                        <input class="input is-medium" type="password" name="password" placeholder="Código">
                        <span class="icon is-medium is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </p>
                    <p class="control">
                        <button class="button is-primary is-medium">
                            Entrar
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
