{% extends "base.html" %}

{% block title %}CUCEI Reporter | Formulario de Reporte{% endblock %}
{% block description %}Sistema de reporte para profesores{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Formulario de Reporte</h1>

        <hr>

        <h2 class="title is-4">Profesor: {{g.user.name}}</h2>
        <form method="post">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <label class="label" for="code">Clave</label>
                        <p class="control">
                            <input id="code" class="input" type="text" name="code" placeholder="Clave">
                        </p>
                    </div>
                </div>
                <div class="column is-three-quarters">
                    <div class="field">
                        <label class="label" for="code">Materia</label>
                        <p class="control">
                            <input id="subject" class="input" type="text" name="subject" placeholder="Materia a que asisten los alumnos">
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="field">
                        <label class="label" for="code">Sección</label>
                        <p class="control">
                            <input id="section" class="input" type="text" name="section" placeholder="Sección">
                        </p>
                    </div>
                </div>
            </div>

            <hr>

            <h4 class="title is-4">Alumnos</h4>
            <table class="table is-striped">
                <thead>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Problemas</th>
                    <th>Comentarios</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="students[code]" placeholder="Código">
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="students[name]" placeholder="Nombre">
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <label class="radio">
                                        <input type="radio" name="students[problem]" value="nonattendance">
                                        Faltas
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="students[problem]" value="assignments">
                                        Practicas
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="students[problem]" value="other">
                                        Otros
                                    </label>
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <textarea
                                        class="textarea"
                                        name="students[comments]"
                                        placeholder="Comentarios"
                                        rows="1"
                                    ></textarea>
                                </p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="students" placeholder="Código">
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <input class="input" type="text" name="students[name]" placeholder="Nombre">
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <label class="radio">
                                        <input type="radio" name="students[problem]" value="nonattendance">
                                        Faltas
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="students[problem]" value="assignments">
                                        Practicas
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="students[problem]" value="other">
                                        Otros
                                    </label>
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <p class="control">
                                    <textarea
                                        class="textarea"
                                        name="students[comments]"
                                        placeholder="Comentarios"
                                        rows="1"
                                    ></textarea>
                                </p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <button type="button" class="button is-success is-outlined">
                                <span class="icon is-small">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <span>Agregar Alumno</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h4>Prioridad</h4>
            <span class="tag is-success is-medium">
                <div class="field">
                    <p class="control">
                        <label class="radio">
                            <input type="radio" name="priority" value="low" checked="checked">
                            Baja
                        </label>
                    </p>
                </div>
            </span>

            <span class="tag is-warning is-medium">
                <div class="field">
                    <p class="control">
                        <label class="radio">
                            <input type="radio" name="priority" value="medium">
                            Moderada
                        </label>
                    </p>
                </div>
            </span>

            <span class="tag is-danger is-medium">
                <div class="field">
                    <p class="control">
                        <label class="radio">
                            <input type="radio" name="priority" value="high">
                            Alta
                        </label>
                    </p>
                </div>
            </span>

            <div class="field is-grouped is-pulled-right">
                <p class="control">
                    <button class="button is-link">Cancelar</button>
                </p>
                <p class="control">
                    <button class="button is-primary">Enviar</button>
                </p>
            </div>

        </form>
    </div>
</section>
{% endblock %}
