{% extends "base.html" %}

{% block title %}CUCEI Reporter | Formulario de Reporte{% endblock %}
{% block description %}Sistema de reporte para profesores{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Formulario de Reporte</h1>

        <hr>
        
        <h2 class="title is-4">Profesor: {{g.user.name}}</h2>
        <div id="report-form"></div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/main.js')}}" charset="utf-8"></script>
{% endblock %}
